.DS_Store
**/.DS_Store
.idea/
**/.idea/
.env
**/.env
**/backup/
github
github/
github.pub
github.pub/
PHPMailer/
**/PHPMailer/
.vscode/
**/.vscode/
vendor/
**/vendor/
composer.json
composer.lock
composer.phar
center/
**/center/