.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    color: white;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
  
.hero-text {
    max-width: 50%;
}
  
.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
  
.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}