.login-page {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
  
.login-container {
    width: 40vw;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 30vw;
    min-height: 42vh;
}
  
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.login-container button {
    width: 100%;
    padding: 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.login-container button:hover {
    background: darkblue;
}
  

#message {
    color: red;
}
